@media screen and (max-width:600px) {
    body {
        overflow-x: hidden;
    }
    /* Header */
    section#banner {
        background-image: url(../img/banner01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        display: block;
        flex-direction: column;
        padding: 20px;
        height: 40vh;
    }

    header h1 {
        text-align: center;
        margin-top: 70px;
    }

    header menu {
        margin-top: 50px;
    }

    header menu > ul{
        text-align: center;
        justify-content: center;
    }

    /* Main home */
    sectio .home {
        margin-top: 10px;
    }

    section .home p {
        font-size: 1.0rem;
    }

    /* Main section novidade */
    section .novidade {
        max-width: 1200px;
        margin: 20px;
    }

    section .novidade .container p {
        font-family: sans-serif;
        width: auto;
    }

    section .novidade .container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 10px;
    }

    /* Galeria fotos */
    section#galeria {
        background: white;
    }
    section .fotos {
        margin: 0px 10px;
        background: white;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    section .fotos div {
        margin: 0px 10px;
        width: 400px;
        height: 300px;
        border: 1px solid gray;
    }

    /* Documentos */
    section .documentos table {
        margin-top: 15px;
        width: 400px;
    }

    /* Parceiros */
    section .parceiros {
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    section .parceiros a {
        margin-top: 10px;
    }

    section .parceiros a:hover {
        background: gray;
        padding: 10px;
        border-radius: 10px;
    }
}