#main {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    text-align: left;
    font-family: sans-serif;
    box-shadow: 0px 1px 2px 2px gray;
}

#main .p-banner {
    margin-top: 10px;
    justify-items: left;
}



