:root {
	font-size: 16px;
	--royal-blue-light: #404eed;
	--royal-blue-dark: #3946d4;
	--white: #fff;
	--backgroud: #e2e3e9;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	overflow-x: hidden;
	font-family: sans-serif;
	background: gainsboro;
  }
  
  a {
	color: var(--white);
	text-decoration: none;
  }
  
  .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(34,34,34);
	height: 4.6875rem;
	padding: 1rem;
  }
  
  .logo {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0px 50px;
  }
  
  .menu {
	list-style: none;
	display: flex;
	gap: 0.5rem;
  }
  
  .menu a {
	display: block;
	padding: 1rem;
	border-radius: 0.5rem;
  }
  
  .menu a:hover {
	background: rgba(128, 128, 128, 0.16);
  }
  
  .btn-menu {
	display: none;
  }

/* ==============
  	  Banner
=================*/

/* ==============
	  Home
=================*/

section#home {
	padding: 10px;
	max-width: 1400px;
	margin: auto;
}

section#home h2{
	max-width: 1200px;
	padding: 10px;
	font-size: 30px;
	border-bottom: 3px solid black;
	width: 200px;
}

section .home h3 {
	border-bottom: 2px solid black;
	width: 200px;
}

#texto2 {
	margin-top: 10px;
}

section .home {
	margin-top: 10px;
	padding: 10px;
}

section .home article {
	margin: 10px auto;
	font-size: 1.2rem;
	font-family: sans-serif;
	justify-items: left;
}

/* Carrousel */

