:root {
	font-size: 16px;
	--royal-blue-light: #404eed;
	--royal-blue-dark: #3946d4;
	--white: #fff;
	--backgroud: #e2e3e9;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	overflow-x: hidden;
	font-family: sans-serif;
	background: gainsboro;
  }
  
  a {
	color: var(--white);
	text-decoration: none;
  }
  
  .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(34,34,34);
	height: 4.6875rem;
	padding: 1rem;
  }
  
  .logo {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0px 5rem;
  }
  
  .menu {
	list-style: none;
	display: flex;
	gap: 0.5rem;
  }
  
  .menu a {
	display: block;
	padding: 1rem;
	border-radius: 0.5rem;
  }
  
  .menu a:hover {
	background: rgba(128, 128, 128, 0.16);
  }
  
  .btn-menu {
	display: none;
  }

/* ==============
  	  Geral
=================*/

.texto-h2 {
	font-size: 2.5rem;
	text-align: center;
}

.texto-h2 span {
	color: #3946d4;
}

article {
	font-size: 1.2rem;
	font-family: sans-serif;
}

/* ==============
	  Home
=================*/

section#home .home {
	max-width: 1200px;
	margin: auto;
	padding: 10px;
}

.home .artigo {
	color: black;
	justify-items: left;
	padding: 10px;
	font-size: 1.1rem;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.082);
}

/* ==============
	  Novidade
=================*/
section#novidade {
	background: rgba(128, 128, 128, 0.266);
}

section .novidade {
	max-width: 1400px;
	margin: auto;
	padding: 10px;
}

section#novidade .novidade h2 {
	padding: 10px;
}

.slider{
	margin: auto;
	max-width: 1100px;
	display: flex;
  }
  .slider .card{
	flex: 1;
	margin: 0 10px;
	background: #fff;
  }
  .slider .card .img{
	height: 200px;
	width: 100%;
  }
  .slider .card .img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
  }
  .slider .card .content{
	padding: 10px 20px;
  }
  .card .content .title{
	font-size: 25px;
	font-weight: 600;
  }
  .card .content .sub-title{
	font-size: 20px;
	font-weight: 600;
	color: #828282;
	line-height: 20px;
  }
  .card .content p{
	text-align: justify;
	margin: 10px 0;
  }
  .card .content .btn{
	display: block;
	text-align: left;
	margin: 10px 0;
  }
  .card .content .btn button{
	background: #3946d4;
	color: #fff;
	border: none;
	outline: none;
	font-size: 17px;
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s;
  }
  .card .content .btn button:hover{
	transform: scale(0.9);
  }
  /* ================== */
  .novi-1 {
	display: none;
	max-width: 1200px;
	padding: 5px;
	margin: auto;
  }

  .bloco-1 {
	background: #fff;
  }

  .bloco-1 h3 {
	text-align: center;
	font-size: 1.5rem;
	padding: 5px;
  }

  .bloco-1 p {
	padding: 5px;
	justify-content: left;
	justify-items: left;
	margin: 0px 5px;

  }

  .img-bloco {
	margin: auto;
	width: 100%;
	height: 99%;
  }


/* ==============
	  Fotos
=================*/

.slide {
	display: none;
	position: relative;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 1px;
}
.slide-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
	position: static;
	opacity: 100;
}
.slide-item {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}
.slide-item img {
	display: block;
	height: auto;
	max-width: 100%;
}
.slide-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width: 40px;
	z-index: 10;
}
.slide-control.prev {
	left: 2%;
}
.slide-control.next {
	right: 2%;
}
.slide-control:hover {
	background: rgba(0, 0, 0, 0.8);
	color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
	display: block;
}
.slide-indicador {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.slide-indicador li {
	display: inline-block;
	margin: 0 5px;
}
.slide-circulo {
	color: #828282;
	cursor: pointer;
	display: block;
	font-size: 35px;
}
.slide-circulo:hover {
	color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
	 li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
	  li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
	  li:nth-child(3) .slide-circulo {
	color: #fff;
}
#titulo {
	width: 100%;
	position: absolute;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	font-size: 27px;
	color: rgba(255, 255, 255, 1);
	font-family: 'Open Sans', sans-serif;
	z-index: 9999;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
		 -1px 0px 2px rgba(255, 255, 255, 0);
}

/* ==================== */

section#fotos {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}

img{
    width: 100%;
    display: block;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.vh-100{
    min-height: 100vh;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}

.portfolio-grid > div{
    transition: var(--transition);
}
.portfolio-grid > div:hover{
    transform: scale(0.9);
}

.portfolio-grid div > img {
    width: 100%;
    background-size: cover;
}

/* ======================
     Section Projetos
=========================*/

section#projetos {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.bloco-4 {
    gap: 10px;
    display: flex;
}

.projetos .texto-projetos {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.142);
    padding: 10px;
}

.texto-projetos p {
    margin: 0px 10px;
}

/* contact */
#contact{
    background-color: rgb(248, 248, 248);
}
.contact-content{
    flex-direction: column;
    align-items: stretch;
}
.contact-left{
    margin-bottom: 5rem;
}
.contact-left .lead{
    padding: 0.5rem;
}
.contact-left form{
    margin-top: 3rem;
}
.contact-left form .form-control{
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}
.contact-left form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-left .btn-submit{
    padding: 1.4rem 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-left .btn-submit:hover{
    background-color: #000;
    color: white;
}

/* ======================
       Footer
=========================*/

#footer{
    background-color: #24252a;
    color: white;
}
.footer-content{
    text-align: center;
}
.footer-content h3{
    color: white;
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.footer-content ul{
    flex-direction: column;
}
.footer-content ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: 1s;
}
.footer-content ul li a:hover{
    opacity: 0.7;
}
.footer-content ul li{
    list-style-type: none;
    margin: .5rem 1rem;
}
.footer-content > div:first-child{
    margin-bottom: 3rem;
}
.footer-content > div:first-child div{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}


/* ==============
	 Documentos
=================*/

section#documentos .documentos{
	max-width: 1200px;
	margin: auto;
	padding: 10px;
}

table {
    margin: auto;
    table-layout: fixed;
    width: 90%;
    text-align: center;
  }

table tr {
	background: rgba(34,34,34);

}

table td {
    font-size: 1.1em;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
	color: #828282;
  }

  table td a:hover {
	color: blue;
  }

  caption {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 1,5em;
    background-color: rgba(34,34,34);
    color: white;
  }