:root {
	font-size: 16px;
	--royal-blue-light: #404eed;
	--royal-blue-dark: #3946d4;
	--white: #fff;
	--backgroud: #e2e3e9;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	overflow-x: hidden;
	font-family: sans-serif;
	background: white;
  }
  
  a {
	color: var(--white);
	text-decoration: none;
  }
  
  .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--royal-blue-light);
	height: 4.6875rem;
	padding: 1rem;
  }
  
  .logo {
	font-size: 1.5rem;
	font-weight: bold;
  }
  
  .menu {
	list-style: none;
	display: flex;
	gap: 0.5rem;
  }
  
  .menu a {
	display: block;
	padding: 1rem;
	border-radius: 0.5rem;
  }
  
  .menu a:hover {
	background: var(--royal-blue-dark);
  }
  
  .btn-menu {
	display: none;
  }

/* Carousel 1 */

img{
	width: 500px;
	height: 300px;
  }
  button {
	width: 100px;
  }

/* Setion home */

section#home {
	max-width: 1300px;
	margin: 0 auto;
	padding: 10px;
}

section h2 {
	color: black;
	border-bottom: 3px solid black;
	width: 200px;
	font-size: 1.9rem;
}

section p {
	margin: 10px;
	font-size: 1.2rem;
	justify-items: left;
	justify-content: left;
}

/* Section Novidade */


/* Carrousel */

