* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    background: rgb(34,34,34);
    justify-content: space-between;
    padding: 20px;
}

header h1 {
    color: white;
    font-family: sans-serif;
}

menu ul {
    display: flex;
    gap: 20px;
}

menu ul li a{
    line-height: 30px;
    color: white;
    font-family: sans-serif;
}

menu ul li a:hover {
    background: black;
    padding: 10px;
    border-radius: 15px;
}

/* Main Css*/

section .home {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
    margin-top: 30px;
}

section .home h2 {
    border-bottom: 3px solid black;
    width: 200px;
}

section .home p {
    margin-top: 10px;
    margin-left: auto;
    font-size: 1.2rem;
}

section .home h3 {
    margin-top: 10px;
}

/* ===================
    Main Novidades
======================*/

section#novidades {
    margin-top: 20px;
    background: whitesmoke;
}

section .novidade {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

section .novidade .container {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 10px;
}

section .novidade .container img {
    width: 400px;
    height: 350px;
}

section .novidade .container p {
    font-family: sans-serif;
    padding: 10px;
    width: 700px;
}

section .novidade h2 {
    margin-top: 20px;
    font-family: sans-serif;
    border-bottom: 3px solid black;
    width: 200px;
    padding: 10px;
}

/* ===================
      Main Fotos
======================*/

section#galeria h2 {
    margin: 30px;
    font-family: sans-serif;
    border-bottom: 3px solid black;
    width: 200px;
}

section .fotos {
    background: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

section .fotos div {
    margin: 0px 10px;
    width: 300px;
    height: 300px;
}

section .fotos div:hover {
    border: 1px solid gray;
}

/* ===================
      Main dias de treinos
    ======================*/

section .treino {
    background: rgba(128, 128, 128, 0.136);
    margin-top: 20px;
    padding: 10px;
    margin: auto;
}

section .treino h2 {
    font-family: sans-serif;
    border-bottom: 3px solid black;
    width: 200px;
    margin: 30px 30px;
}

table {
    margin: auto;
    table-layout: fixed;
    width: 90%;
    text-align: center;
    font-family: sans-serif;
  }

table td {
    font-size: 1.1em;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }

  caption {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 1,5em;
    background-color: #23232e;
    color: white;
  }

  table caption {
    text-align: center;
    color: white;
    padding: 10px;
  }

  .linha {
    color: white;
    background-color: #23232e;
  }

hr {
    background: gray;
}

/* ===================
      Main Documtos
======================*/

section .documentos {
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
    padding: 20px;
}

section .documentos h2 {
    margin-top: 20px;
    border-bottom: 3px solid black;
    width: 200px;
}

section .documentos table {
    margin-top: 15px;
    width: 600px;
}

/* ===================
      Main Parceiros
======================*/

section#parceiros {
    background: rgba(128, 128, 128, 0.237);
    padding: 20px;
}

section .parceiros h2 {
    font-family: sans-serif;

}

section .parceiros a {
    font-family: sans-serif;
    color: blue;
}

section .parceiros {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

/* ===================
        Footer
======================*/

footer {
    margin-top: 10px;
    background: #23232e;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}